@import "normalize.scss";

:root {
  $color-eaeaea: #eaeaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  display: inline-block;
}
