@import "normalize.scss";

:root {
  $color-eaeaea: #eaeaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #f8efef;
}

a {
  text-decoration: none;
  display: inline-block;
}

.button {
  background-color: #232f3e;
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 15px;
}

.button:hover {
  background-color: #febd69;
  color: #131921;
}
.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

// Variable Definitions
$primary-color: #232f3e;
$secondary-color: #febd69;
$accent-color: #f60606;
$text-color: #000;
$background-color: #fff;
$box-shadow-color: #0000001a;
$border-color: #ededed;

// Button Styles
.button {
  background-color: $primary-color;
  color: white;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 50px;

  &:hover {
    background-color: $secondary-color;
    color: $text-color;
  }
}

.policy {
  background-color: #fff;
  padding: 30px;
}

.js-image-zoom__zoomed-image {
  left: 50px !important;
  padding: 10px;
  background-color: white;
  z-index: 1000;
}

.cart-col-1 {
  width: 40%;

  p {
    color: #777777;
    font-size: 14px;
  }
}

.cart-col-2 {
  width: 10%;
}

.cart-col-3 {
  width: 15%;
}

.cart-col-4 {
  width: 15%;
}
