// Footer.module.scss

@use "../../GlobalStyle/GlobalStyles.scss" as *;

.footer {
    flex-shrink: 0;
    border-top: $border-default;
}

.footer-content {
    // @include flex();
    padding-top: 20px;
    margin: 0 auto;
    // @include media-breakpoint-down(sm) {
    //     flex-direction: column;
    // }
}
