/*Footer*/

footer {
  background-color: #383838 !important;
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

footer .input-group-text {
  background-color: #101010;
  color: white;
  padding: 8px 17px;
}

.footer-img {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}
