// Variable Definitions
$primary-color: #232f3e;
$secondary-color: #febd69;
$accent-color: #f60606;
$text-color: #000;
$background-color: #fff;
$box-shadow-color: #0000001a;
$border-color: #ededed;

// Button Styles
.button {
  background-color: $primary-color;
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 15px;

  &:hover {
    background-color: $secondary-color;
    color: $text-color;
  }
}

// Main Banner Content Styles
.main-banner-content {
  top: 15%;
  left: 5%;

  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $accent-color;
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }

  h5 {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: -2px;
    color: $text-color;
    font-weight: 500;
    text-transform: none;
  }

  p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.4px;
    color: $text-color;
  }
}

// Small Banner Content Styles
.small-banner-content {
  top: 25%;
  left: 10%;

  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $accent-color;
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }

  h5 {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -2px;
    color: $text-color;
    font-weight: 500;
    text-transform: none;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: $text-color;
  }
}

// Small Banner Styles
.small-banner {
  width: 49%;
}

// Categories Styles
.categories {
  background-color: $background-color;
  box-shadow: 0 0 10px $box-shadow-color;
  padding: 15px;

  > div {
    width: 25%;
    padding: 10px 10px 10px 20px;

    > div {
      width: 60%;
      padding: 10px 10px 10px 20px;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      border-bottom: 1px solid $border-color;
    }

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      border-right: 1px solid $border-color;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-right: 1px solid $border-color;
    }
  }
}

// Brand Image Styles
.brand-img {
  width: 100px;
  height: 100px;
}

// Section Heading Styles
.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.famous-card .famous-content {
  top: 20%;
  left: 5%;
}

.famous-card img {
  width: 350px;
  height: 440px;
  border-radius: 10px;
}

.famous-content h5 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400px;
  color: #000;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.famous-content h6 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  color: #000;
}

.famous-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: #000;
}
